<html>
    <head>
        <title>hzytql论坛</title>
    </head>
    <body>
        <div>
            <h4>hzytql论坛</h4>
            <ul>
                <?php if(!isset($user)){?>
                <li><a href="user.php?action=login">登录</a></li>
                <li><a href="user.php?action=reg">注册</a></li>
                <?php } else {?>
                <li><a href="user.php?action=logout">注销</a></li>
                <li><a href="thread_create.php">发帖</a></li>
                <?php }?>
            </ul>
        </div>
        <div>
            <h4>最近帖子</h4>
            <ul>
                <?php foreach($threadlist as $v){?>
                    <li>
                        <a href="thread.php?tid=<?php echo $v['tid'];?>"><?php echo $v['subject'];?></a><br>
                        <?php echo date('Y-m-d H:i:s',$v['time']);?> , <?php echo $v['username'];?>
                    </li>
                <?php }?>
            </ul>
        </div>
    </body>
</html>